body {
    font-family: Arial;
    background-color: #f2f2f2;
    padding: 20px;
}

h1 {
    text-align: center;
}

input {
    padding: 8px;
    margin: 5px;
}

button {
    padding: 8px 15px;
    background-color: green;
    color: white;
    border: none;
}

table {
    width: 100%;
    background-color: white;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}